[submodule "external/Azure-Kinect-Sensor-SDK"]
    path = external/Azure-Kinect-Sensor-SDK
    url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
    branch = develop
    ignore = dirty
[submodule "external/nanoflann"]
    path = external/nanoflann
    url = https://github.com/jlblancoc/nanoflann.git
    branch = master
    ignore = dirty
[submodule "libs/kinect"]
    path = libs/kinect
    url = git@github.com:edisonslightbulbs/kinect.git
    branch = main
[submodule "libs/outliers"]
    path = libs/outliers
    url = git@github.com:edisonslightbulbs/outliers.git
    branch = main
[submodule "libs/svd"]
    path = libs/svd
    url = git@github.com:edisonslightbulbs/svd.git
    branch = main
[submodule "libs/point"]
    path = libs/point
    url = git@github.com:edisonslightbulbs/point.git
    branch = main
[submodule "libs/intact"]
    path = libs/intact
    url = git@github.com:edisonslightbulbs/intact.git
    branch = main
[submodule "libs/viewer"]
    path = libs/viewer
    url = git@github.com:edisonslightbulbs/viewer.git
    branch = main
[submodule "libs/edge"]
    path = libs/edge
    url = git@github.com:edisonslightbulbs/edge.git
    branch = main
[submodule "libs/knn"]
    path = libs/knn
    url = git@github.com:edisonslightbulbs/knn.git
    branch = main
[submodule "libs/dbscan"]
    path = libs/dbscan
    url = git@github.com:edisonslightbulbs/dbscan.git
    branch = main
[submodule "libs/region"]
	path = libs/region
	url = git@github.com:edisonslightbulbs/region.git
    branch = main
[submodule "libs/calibration"]
	path = libs/calibration
	url = git@github.com:edisonslightbulbs/calibration.git
    branch = main
[submodule "libs/object-detection"]
	path = libs/object-detection
	url = git@github.com:edisonslightbulbs/object-detection.git
    branch = main
[submodule "libs/utility"]
	path = libs/utility
	url = git@github.com:edisonslightbulbs/utility.git
[submodule "libs/searcher"]
	path = libs/searcher
	url = git@github.com:edisonslightbulbs/searcher.git
