[submodule "external/algorithms/dbscan"]
    path = libs/algorithms/dbscan
    url = git@github.com:edisonslightbulbs/dbscan.git
    branch = main
[submodule "external/algorithms/knn"]
    path = libs/algorithms/knn
    url = git@github.com:edisonslightbulbs/knn.git
    branch = main
[submodule "external/algorithms/svd"]
    path = libs/algorithms/svd
    url = git@github.com:edisonslightbulbs/svd.git
    branch = main
[submodule "libs/utility"]
    path = libs/utility
    url = git@github.com:edisonslightbulbs/utility.git
    branch = main
[submodule "libs/preprocessing"]
    path = libs/preprocessing
    url = git@github.com:edisonslightbulbs/preprocessing.git
    branch = main
[submodule "libs/geometry"]
    path = libs/geometry
    url = git@github.com:edisonslightbulbs/geometry.git
    branch = main
[submodule "external/kinectConf"]
    path = external/kinectConf
    url = git@github.com:edisonslightbulbs/kinectConf.git
    branch = main
[submodule "external/kinectSDK"]
    path = external/kinectSDK
    url = git@github.com:antiqueeverett/kinectSDK.git
    branch = develop
[submodule "libs/glad"]
    path = libs/glad
    url = git@github.com:edisonslightbulbs/glad.git
    branch = main
[submodule "libs/kinectConf"]
    path = libs/kinectConf
    url = git@github.com:edisonslightbulbs/kinectConf.git
    branch = main
